#steps .form-control[disabled] {
  display: block;
  cursor: not-allowed;
}
#steps label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  padding-right: 5px;
  font-weight: bold;
}
.csv-delimiter label {
  width: 100%;
}
.radio-inline {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 20px;
  cursor: pointer;
  vertical-align: middle;
  font-weight: normal !important;
}
#steps h3 {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 500 !important;
}
#steps .data-explorer-help {
  margin: 1em 0;
  padding: 8px 15px;
  border-radius: 4px;
  background: #eee;
}
#controls {
  margin-top: 15px;
}
#controls button {
  padding: 5px 12px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5em !important;
}
#controls button.pull-left {
  color: #333;
  border-color: #ccc;
  background-color: #fff;
}
#controls button.pull-right {
  float: right !important;
  color: #fff;
  border-color: #52a5a0 !important;
  background: #52a5a0 !important;
}
#chart-with-controls h4 {
  font-size: 16px;
  font-weight: 500;
}
#chart-with-controls.col-md-12 {
  padding: 0;
}
#chart-with-controls .tab-content {
  overflow: hidden;
}
#iframe-shell h2 {
  display: none;
}
#iframe-shell {
  overflow: hidden;
  height: 100%;
}
body,
html {
  height: 100% !important;
}
svg {
  display: block;
  width: auto;
  height: auto;
}
#ve-chart-form .pane-content {
  padding: 4px;
}
#ve-chart-form .stages li {
  width: 25%;
}
.nvtooltip table * {
  border: none;
}
#chart-selector {
  overflow: auto;
  width: 100%;
  padding: 0 0 15px;
}
#chart-selector button {
  float: left;
  width: 23%;
  height: 220px;
  margin-top: 20px;
  margin-right: 1%;
  margin-left: 1%;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-size: 300px 220px;
}
.col-md-12 {
  float: left;
  width: 100%;
}
.col-md-7 {
  float: left;
  width: 60%;
}
.col-md-5 {
  float: right;
  width: 40%;
}
.relative {
  position: relative;
}
/**
 * Panels
 */
.expander {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
  border-color: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.expander span {
  position: absolute;
  right: 13px;
}
.expansible {
  margin: 10px;
}
.form-panel {
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.pad {
  padding: 15px;
}
.form-panel .form-group:last-child {
  margin-bottom: 0;
}
/**
 * Filters
 */
#filter-editor .form-stacked {
  margin-bottom: 10px;
}
#query-editor .btn {
  height: 34px;
  margin: 4px 0;
  padding: 5px 9px;
}
#ve-chart-form input.form-control {
  margin: 4px 1em 0 0;
}
.form-group,
.chosen-container {
  margin-bottom: 1em;
}
#pager li.prev.action-pagination-update a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#pager li.next.action-pagination-update a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#pager li.page-range a {
  height: 35px;
  padding: 3px;
}
#pager .pagination {
  margin: 0 0;
}
/**
 * Charts thumbnails
 */
#chart-selector button:hover {
  cursor: pointer;
  border-color: #08c;
}
#chart-selector button.selected {
  border-color: #08c;
}
#chart-selector .discreteBarChart {
  background-image: url("../images/discretebar.png");
}
#chart-selector .multiBarChart {
  background-image: url("../images/stackedbar.png");
}
#chart-selector .multiBarHorizontalChart {
  background-image: url("../images/horizontalbar.png");
}
#chart-selector .stackedAreaChart {
  background-image: url("../images/stackedarea.png");
}
#chart-selector .pieChart {
  background-image: url("../images/pie.png");
}
#chart-selector .lineChart {
  background-image: url("../images/line.png");
}
#chart-selector .lineWithFocusChart {
  background-image: url("../images/linewithfocus.png");
}
#chart-selector .scatterChart {
  background-image: url("../images/scatter.png");
}
#chart-selector .linePlusBarChart {
  background-image: url("../images/lineplusbar.png");
}
.filter fieldset {
  position: relative;
  margin: 5px 0;
  padding: 40px 8px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.filter fieldset legend,
.filter-term label {
  display: block;
  max-width: 100%;
  margin: 5px 0 0;
  padding: 4px 10px;
  border-radius: 4px 4px 0 0;
  background: #ddd;
  font-size: 1em;
  font-weight: bold;
}
.filter fieldset legend {
  position: absolute;
  top: 0 !important;
  right: 0;
  left: 0;
  margin: 0;
  padding: 5px 10px;
}
.filters .form-stacked button {
  margin-top: 10px;
}
.filters .form-stacked button#add-filter-btn {
  margin-top: 0;
}
.data-details {
  display: table;
}
.data-results {
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
}
/* Help Pop-overs */
.fa-question-circle-o::before {
  content: "\f29c";
  font-family: FontAwesome, sans-serif;
}
.help {
  padding: 0 8px;
}
#query-editor .help {
  display: table-cell;
  vertical-align: middle;
}
#filter-editor .help {
  display: inline;
}
#control-chart-sort,
.field--name-chart-settings {
  display: none !important;
}
.path-visualization-charts #graph {
  padding-top: 15px;
}
/* STAGES */
#dkan-stages {
  width: 100%;
  margin-top: 10px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.stages {
  overflow: hidden;
  *zoom: 1;
  margin: auto;
  margin-bottom: 10px !important;
  padding: 0;
  list-style: none;
  counter-reset: stage;
  color: #aeaeae;
}
.stages a:link,
.stages a:visited,
.stages a {
  text-decoration: none;
  color: #fff;
  text-shadow: none;
}
.stages::before,
.stages::after {
  display: table;
  content: "";
}
.stages::after {
  clear: both;
}
.stages li {
  position: relative;
  z-index: 0;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33%;
  padding: 10px;
  counter-increment: stage;
  color: #666;
  background-color: #ededed;
  line-height: 27px;
}
.stages li::before {
  z-index: 1;
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 5px;
  content: counter(stage);
  text-align: center;
  color: #fff;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-color: #d5d5d5;
  font-weight: bold;
}
.stages li::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  margin-top: -29px;
  margin-left: -30px;
  content: " ";
  pointer-events: none;
  border: solid rgba(237, 237, 237, 0);
  border-width: 29px;
  border-top-color: #ededed;
  border-bottom-color: #ededed;
}
.stages li.first,
.stages li.first .highlight {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.stages li.last {
  position: relative;
  right: -1px;
}
.stages li.last,
.stages li.last .highlight {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
.stages li.first::after {
  content: none;
  border: none;
}
.stages li.active::after {
  border-color: rgba(140, 198, 138, 0);
  border-top-color: #8cc68a;
  border-bottom-color: #8cc68a;
}
.stages li.complete::after {
  border-color: rgba(197, 226, 196, 0);
  border-top-color: #c5e2c4;
  border-bottom-color: #c5e2c4;
}
.stages.stage-3 li.complete:first-child::after {
  content: none;
}
.stages li.active,
.stages li.complete {
  background: none;
}
.stages li.complete a {
  color: #444;
}
.stages li.active::before {
  color: #8cc68a;
  background: #fff;
}
.stages li.complete::before {
  color: #666;
  background: #eef6ed;
}
.stages li .highlight {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 10px 42px;
  text-align: left;
  text-decoration: none;
  border: none;
  line-height: 27px;
}
.stages li.incomplete .highlight {
  background-color: #ededed;
}
.stages li button.highlight {
  background: transparent;
}
.stages li.incomplete::before,
.stages li.incomplete a {
  color: #666;
}
.stages li.active .highlight {
  color: #fff;
  background: #8cc68a;
}
.node-resource-form .stages li.complete .highlight a {
  color: #666;
  text-shadow: none;
}
.stages li.complete .highlight {
  background: #c5e2c4;
}
a:not([href]) {
  text-decoration: none;
  color: inherit;
}
#query-editor .input-group.text-query {
  display: table;
  width: 100%;
}
#query-editor .input-group-btn {
  display: table-cell;
  width: 12%;
}
#query-editor .search-query {
  width: 95%;
  margin: 5px !important;
  padding: 7px;
}
#filter-editor label {
  display: block !important;
}
#base-controls fieldset > legend,
#extended-controls fieldset > legend {
  margin-top: -20px;
}
ul.nav {
  display: flex;
  margin: 0 0 18px;
  list-style: none outside none !important;
  border-bottom: 1px solid #ddd;
}
.user-logged-in .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff !important;
  background: #3b3b3b !important;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  border-radius: 4px 4px 0 0;
}
#base-controls fieldset {
  padding-right: 30px;
}
#control-chart-container .form-control,
#x-axis .form-control,
#y-axis .form-control,
#y1-axis .form-control,
#y2-axis .form-control {
  display: block;
  width: 100%;
  padding: 7px;
}
#control-chart-container .col-md-3 {
  float: left;
  width: 15%;
  padding-right: 40px;
  padding-bottom: 20px;
}
#x-axis .col-md-8,
#y-axis .col-md-8,
#y1-axis .col-md-8,
#y2-axis .col-md-8 {
  float: left;
  width: 60%;
  padding-bottom: 10px;
}
#x-axis .col-md-4,
#y-axis .col-md-4,
#y1-axis .col-md-4,
#y2-axis .col-md-4 {
  float: right;
  width: 30%;
  padding-bottom: 10px;
}
#control-chart-x-values-from,
#control-chart-x-values-to,
#control-chart-y-values-from,
#control-chart-y-values-to,
#control-chart-y1-values-from,
#control-chart-y1-values-to,
#control-chart-y2-values-from,
#control-chart-y2-values-to {
  width: 60px !important;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
/* Dataset Tab css */
#chart-with-controls .tab-content .form-group {
  padding-left: 1em;
}
#chart-with-controls #grid {
  margin: 10px 0 0 10px;
}
#chart-with-controls #dataset-tab .data-details {
  margin-left: 1em;
}
#chart-with-controls #dataset-tab .slick-pane {
  position: unset;
}
#chart-with-controls div.horizontal-tabs {
  position: relative;
  margin-right: 0.3em;
  border: 1px solid #ccc;
}
#chart-with-controls .horizontal-tabs ul.horizontal-tabs-list li {
  min-width: 5em;
  padding: 1px;
  border-right: 1px solid #ccc;
  background: #eee;
}
#chart-with-controls .horizontal-tabs ul.horizontal-tabs-list li a {
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  #ve-chart-form .stages li {
    width: 100%;
    margin: 5px 0;
  }
  .stages li::after {
    display: none;
  }
  .stages {
    margin: 0;
    padding-left: 0;
  }
  .col-12 {
    width: 100%;
  }
  #chart-with-controls div.col-md-7 {
    margin-bottom: 10px;
  }
  #chart-selector button {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
