#grid {
  height: 404px;
}
#grid .slick-viewport {
  overflow-x: auto;
}
.slick-header-column {
  height: 25px !important;
}
.recline-slickgrid * {
  box-sizing: content-box;
}
/* NVD3 Overrides */
.nvtooltip h3 {
  font-size: 13px;
  font-weight: bold !important;
}
.pagination ul > li {
  display: inline;
}
.recline-pager .pagination a {
  line-height: 26px;
  padding: 0 6px;
  text-decoration: none;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.pagination label {
  display: none;
}
.pagination input {
  width: 40px;
  color: #666;
  text-align: center;
}
/* Line charts with visible data points */
.recline-show-datapoints .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: 1;
  stroke-opacity: 1;
  r: 4;
}
#base-controls fieldset,
#extended-controls fieldset {
  display: block;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 25px;
  border-radius: 5px;
  padding-top: 30px;
}
#base-controls fieldset > legend,
#extended-controls fieldset > legend {
  border-bottom: none;
  margin-top: -44px;
  background-color: white;
  width: auto;
  padding-left: 7px;
  padding-right: 7px;
}
#chart-with-controls .checkbox-without-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
#chart-with-controls .checkbox-without-margin:last-child {
  margin-bottom: 1em;
}
/* Colorpicker */
label[for="control-chart-color-picker"] {
  margin-right: 10px;
  margin-bottom: 20px;
}
label[for="control-chart-x-values"] {
  width: 100%;
}
#control-chart-x-values-from {
  width: 60px;
  float: left;
  margin-right: 1em;
}
#control-chart-x-values-to {
  width: 60px;
}
label[for="control-chart-y1-values"],
label[for="control-chart-y2-values"],
label[for="control-chart-y-values"] {
  width: 100%;
}
#control-chart-y1-values-from,
#control-chart-y2-values-from,
#control-chart-y-values-from {
  width: 60px;
  float: left;
  margin-right: 1em;
}
#control-chart-y1-values-to,
#control-chart-y2-values-to,
#control-chart-y-values-to {
  width: 60px;
}
