{#
/**
 * @file
 * Default theme implementation for a visualization charts edit form.
 *
 * This template will be used when a visualization charts edit form
 * specifies 'visualization_charts_edit_form' as its #theme callback.
 * Otherwise, by default, visualization charts add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The visualization charts add/edit form.
 *
 * @see hook_form_alter()
 *
 * @ingroup themeable
 */
#}
{# Attach the Visualization Charts Form library.#}
{{ attach_library('visualization_charts/visualization_charts_form') }}
<div id="ve-chart-form" class="radix-layouts-content">
  <div class="pane-content">
    <div id="dkan-stages">
      <ol class="stages">
        <li class="first incomplete">
          <span class="highlight">Load data</span>
        </li>
        <li class="incomplete">
          <span class="highlight">Define variables</span>
        </li>
        <li class="incomplete">
          <span class="highlight">Choose chart type</span>
        </li>
        <li class="last incomplete">
          <span class="highlight">Preview and adjust</span>
        </li>
      </ol>
    </div>

    <div class="content clearfix row">
      <div class="col-md-12 layout-region layout-region-node-main">
        {{ form|without('advanced', 'actions') }}
      </div>
      <div class="col-md-12 layout-region-node-secondary" style="display:none;">
        {{ form.advanced }}
      </div>
      <div class="col layout-region-node-footer" style="display:none;">
        {{ form.actions }}
      </div>
    </div>

    <div id="steps">
    </div>
  </div>
</div>