{#
/**
 * @file
 * Default theme implementation to present a visualization charts entity.
 *
 * This template is used when viewing a canonical visualization charts page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_visualization_charts()
 */
#}
{# Attach the Visualization Charts library.#}
{{ attach_library('visualization_charts/visualization_charts') }}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
    {{- content -}}
  {% endif %}
  <div id="graph"></div>
</article>
